---
layout: base
title: Shoot Us a Message!
heroImage: /images/DSC0219_1.jpg
navbarClass: neg-raccoon
lmColor: #272300
---
{% include nav.html %}
{% include title.html %}

  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" id="contact">
        <h1 class="editable">Contact Us</h1>
        <div class="row">
          <div class="col-md-6">
            <h2>Email</h2>
            <p class="editable"><a href="mailto:lenhoksin@gmail.com">lenhoksin@gmail.com</a></p>
            <h2>Camp Phone</h2>
            <p><i>(During summer operation only)</i></p>
            <p class="editable">TBD</p>
              <p>
                <h2 class="editable">Send a letter to your camper</h2>
                <p class="editable">Camper's Name, Unit #
                  <br/>Lenhok'sin High Adventure
                  <br/>Goshen Scout Reservation
                  <br/>340 Millard Burke Memorial Hwy
                  <br/>Goshen, VA 24439</p>
          </div>
          <div class="col-md-6">
            <img class="visible-md-inline visible-lg-inline editable" src="/images/Lenhoksin_1.jpg" style="height: 300px;" />
            <h2 class="editable">Need to reach us after the summer?</h2>
            <p class="editable">Send us an email!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row large-toad">
      <div class="col-md-8 col-md-offset-2">
        <h1>Meet the 2016 Admin Team!</h1>
        <div class="row" style="text-align: center;">
          <div class="col-md-4">
            <img src="/images/Karli.jpg" class="img-responsive" style="display: block;" />
            <h2>Camp Director</h2>
            <h3>Karlina Young</h3>
            <p>Karlina is returning after 4 years away and can't wait for her 8th summer at Goshen. She was previously Lenhok'sin's Program Director, Commissioner and worked at the Caving and Rock Climbing outposts. She loves living out of a backpack and exploring the world.</p>
          </div>
          <div class="col-md-4">
            <img src="/images/Henry.jpg" class="img-responsive" style="display: block;" />
            <h2>Program Director</h2>
            <h3>Henry Pike</h3>
            <p>Henry is returning in his 2nd summer as a Program Director. This is his 3rd summer at Lenhok'sin and his 10th
              summer at Goshen Scout Reservation. Previous positions include various positions at Camp Olmsted's Handicraft
              and Shooting Sports program areas and as the Outpost Director of Mountain Man.</p>
          </div>
          <div class="col-md-4">
            <img src="/images/Sarah.jpg" class="img-responsive" style="display: block;" />
            <h2>Trek Director</h2>
            <h3>Sarah Moses</h3>
            <p>This will be Sarah's 1st year at Lenhok'sin and her 11th summer at Goshen Scout Reservation. Previous positions
              include many different Area Director positions and Program Director at Camp Marriott.</p>
          </div>
        </div>
      </div>
    </div>
  </div>