---
layout: base
title: Treks
heroImage: /images/DSC0213_1.jpg
navbarClass: raccoon
lmColor: "#FFFBD2"
---
{% include nav.html %}
{% include title.html %}

  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" id="about">
        {% include treks/about.md %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row peacock" style="background-image: url('/images/DSC0297_1.jpg')">
      <div class="col-md-8 col-md-offset-2" id="lt">
        {% include treks/TrailTrek.md %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" id="jr">
        {% include treks/RiverTrek.md %}
        </div>      
    </div>
  </div>

  {% include picSpacer.html bgimgvar='/images/DSCF2576_1.jpg' %}

  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" id="awards" style="text-align: center;">
        {% include treks/awards.html%}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row peacock" style="background-image: url('/images/DSC0041_1.jpg');">
      <div class="col-md-8 col-md-offset-2" id="food">
        {% include treks/food.html %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" id="outposts">
        {% include treks/outposts.html%}
      </div>
    </div>
  </div>

{% include picSpacer.html bgimgvar='/images/Scenery_2.jpg' %}