<footer>
  <div class="container-fluid">
    <div class="row lizard">
      <div class="col-md-8 col-md-offset-2" style="text-align: center;">
        <div class="row">
          <div class="col-sm-4">
            <h2>Stay Connected</h2>
            <p>Shoot us an email!
              <br/><a href="mailto: lenhoksin@gmail.com">lenhoksin@gmail.com</a></p>
            <p>Follow us on Facebook!
              <br/><a target="_blank" href="http://www.facebook.com/lenhoksin">www.facebook.com/lenhoksin</a></p>
            <p>Lenhok'sin Main Page
              <br/><a target="_blank" href="http://www.ncacbsa.org/lenhoksin">www.ncacbsa.org/lenhoksin</a></p>
          </div>
          <div class="col-sm-4">
            <img class="img-responsive" src="/images/Christian Trocki LHA Logo.png" style="max-width: 100%; max-height: 200px; margin-top: 30px;"
            />
          </div>
          <div class="col-sm-4">
            <h2>Related</h2>
            <p>Goshen Scout Reservation
              <br/><a target="_blank" href="http://gotogoshen.org">gotogoshen.org</a></p>
            <p>Goshen Registration
              <br/><a target="_blank" href="http://register.gotogoshen.org">register.gotogoshen.org</a></p>
            <p>National Capital Area Council
              <br/><a target="_blank" href="www.ncacbsa.org">www.ncacbsa.org</a></p>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>