  <div class="container-fluid giraffe">
    <div class="row giraffe">
      <div class="col-xs-12 giraffe lion" style="background-image: url('{{page.heroImage}}');">
        <div class="row desk-cat" style="height: 30%;">
          <div class="col-md-3 col-md-offset-7 col-xs-offset-2">
            <h1>{{page.title}}</h1>
          </div>
        </div>
        <div class="foot-cat">
          <a href="#about"><h2 style="color: #FFFBD2;">Learn More<br/><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></h2></a>
        </div>
      </div>
    </div>
  </div>