<h1>Awards</h1>
        <div class="row" style="padding-bottom: 2%;">
          <div class="col-md-6 col-md-push-3">
            <img class="img-responsive editable" src="/images/awards/LHA.png" style="max-width: 50%;" />
            <h2 class="editable">Lenhok'sin High Adventure<br/>Patch</h2>
            <p class="editable">Awarded to those who complete a trek at Lenhok'sin High Adventure. Neither sold nor given to anyone who hasn't
              earned it.</p>
          </div>
          <div class="col-md-3 col-md-pull-6">
            <img class="img-responsive editable" src="/images/awards/Trailblazer.png" style="max-width: 50%;" />
            <h2 class="editable">Trailblazer<br/>Award</h2>
            <p class="editable">To recognize those crews choosing to make the most of their week on the trail by showing extra effort.</p>
          </div>
          <div class="col-md-3">
            <img class="img-responsive editable" src="/images/awards/Wilderness.png" style="max-width: 50%; " />
            <h2 class="editable">Wilderness<br/>Award</h2>
            <p class="editable">An award for those crews that really want to get out there and away from everything.</p>
          </div>
        </div>
        <div class="row" style="padding-bottom: 2%;">
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/awards/BigButt.png" style="max-width: 50%;" />
            <h2 class="editable">Big Butt<br/>Award</h2>
            <p class="editable">Big Butt is our toughest climb, not for the weak of heart. We're not kidding. That really is the mountain's name.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/awards/M5P.png" style="max-width: 50%;" />
            <h2 class="editable">Moore 5 Peaks<br/>Award</h2>
            <p class="editable">Named after Sam Moore, in honor of his years of maintenance of the trails. To be worthy of this award, crews
              must climb all five peaks: Viewing Rock, Jump Rock, The Knob, Forge Rock, and Big Butt.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/awards/50 Miler.png" style="max-width: 50%;" />
            <h2 class="editable">50 Miler<br/>Award</h2>
            <p class="editable">An official BSA award earned by those who display personal fitness, self-reliance, knowledge of wood lore, and
              a practical understanding of conservation.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <img class="img-responsive editable" src="/images/awards/DtG.png" style="max-width: 50%;" />
            <h2 class="editable">Duty to God<br/>Award</h2>
            <p class="editable">The Goshen Scout Reservation religious award.</p>
          </div>
        </div>