<h1>Outposts &amp; Activities</h1>
        <div class="row" style="text-align: center; padding-bottom: 2%;">
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/Caving.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Caving</h2>
            <p class="editable">Spend hours underground exploring a "very cool" setting.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/COPE.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">COPE High Elements</h2>
            <p class="editable">Challenge yourself on the high elements of Goshen Scout Reservation's COPE Course.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/Foxfire.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Foxfire</h2>
            <p class="editable">Venture into early 1900s Appalachia and make knives, S-hooks, and other creations at the forge.</p>
          </div>
        </div>
        <div class="row" style="text-align: center; padding-bottom: 2%;">
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/MountainMan.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Mountain Man</h2>
            <p class="editable">Trade and shoot with fur trappers from the early 1800s as they blaze their way westward and manifest their destiny.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/MountainSports.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Mountain Sports</h2>
            <p class="editable">Whether you're new or experienced, you'll have fun mountain biking the trails and going downhill on mountain
              boards.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/Aquatics.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Paddle Sports</h2>
            <p class="editable">Paddle around the 450 acre Lake Merriweather in kayaks or on Stand-Up Paddleboards.</p>
          </div>
        </div>
        <div class="row" style="text-align: center; padding-bottom: 2%;">
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/Scenery.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Primitive</h2>
            <p class="editable">Discover the wilderness with your Crew on your way to great views and wild experiences. We highly recommend doing
              a primitive night out in the beautiful and rugged Goshen backcountry, especially if you are hoping to reach
              our more challenging peaks, like Big Butt.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/RobinHood.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Robin Hood</h2>
            <p class="editable">Step into legend with forest outlaws from medieval times. Shoot archery, take on challenges, and see what it
              takes to win the day.</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive editable" src="/images/RockClimbing.jpg" style="margin: 2%; max-height: 50%;" />
            <h2 class="editable">Rock Climbing</h2>
            <p class="editable">Enjoy the views and spend your afternoon on our natural rock faces. All experience levels are welcome.</p>
          </div>
        </div>